.btNavio{
  background-image: url("ship-front-view.png");
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
  text-align: center;
  display: inline-block;
  /*position: relative;
  top:160px;
  left: 420px;*/
  transition: 0.5s;
}

.btCarga{
  background-image: url("box.png");
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
  display: inline-block;
  /*position: relative;
  bottom:180px;
  left: 500px;*/
  transition: 0.5s;
}

.btAgente{
  background-image: url("traffic-police.png");
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
  display: inline-block;
  /*position: relative;
  top:28px;
  left: 570px;*/
  transition: 0.5s;
}

.btRota{
  background-image: url("pointer.png");
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
  display: inline-block;
  /*position: relative;
  bottom:60px;
  left: 670px;*/
  transition: 0.5s;
}

.btPorto{
  background-image: url("city-dock.png");
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
  display: inline-block;
  /*position: relative;
  bottom:95px;
  left: 720px;*/
  transition: 0.5s;
}

.btNavio:hover{
    opacity: 0.7;
    transform: scale(1.1);    
}

.btCarga:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

.btAgente:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

.btRota:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

.btPorto:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

h1{
  font-family: sans-serif;
  text-align: center;
  color: #0D47A1;
  top:50px;
  position: relative;
}

h1#mainscreen {
    top:75px;
}

h2{
  font-family: sans-serif;
  text-align: center;
  color: #016CF0;
  top:30px;
  position: relative;
}

/*Formatação do Menu*/
nav#menu{
    display: block; /*Um block pode flutuar pela tela*/
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -18px;
    min-width: 605px; /*Tamanho minimo para não quebrar o menu*/
}

nav#menu li {
    display: inline-block;
    margin: 2px;    /*Acrecenta espaço fora do container*/
    padding: 10px;  /*Acrecenta espaço dentro do container*/
    background-color: #016CF0;
    transition: background-color 1s; /*Elemento e duração da transição feito no HOVER*/
}

nav#menu li:hover {
    background-color: #0D47A1;
    text-decoration: underline;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.5s;
}

nav#menu a:hover {
    color: #BBB;
}

footer#rodape {
    clear: both;    /*Limpa a display do que está acima para não ser afetado pelo float*/
    border-top: 1px solid #606060;
    margin-top: 100px;
}

footer#rodape p {
    text-align: center;
}

table {
    top:50px;
    position: relative;
    border: 0px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table th{
    color: #FFF;
    border: 1px solid #FFF;
    background-color: #2196F3;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    vertical-align: top;
}

table td {
    border: 1px solid #303030;
    background-color: #BBDEFB;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
table td#light {
    background-color: #E3F2FD;
    border: 1px solid #FFF;
}

table td#dark {
    background-color: #BBDEFB;
    border: 1px solid #FFF;
}

table td#radio {
    text-align: left;
}

p#addlink{
    display:   block;
    top:50px;
    position: relative;
    text-align: center;
}

a {
    font-weight: bolder;
/*    color: #1E90FF;*/
    text-decoration: none;
}

a#footlink:hover {
    text-decoration: underline;
}

a#link{
  font-family: sans-serif;
  color: #1E90FF;
}

a#link:hover{
    text-decoration: underline;
}

/*body {
    font-family: Arial, sans-serif;
    background-color: #DDD;
    color: rgba(0,0,0,1);
}*/

div#interface {
    width: 1000px;
    background-color: #FFF;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 10px;
}

div.cima {
    text-align: center;
    padding-top: 100px;
}

div.baixo {
    text-align: center;
    vertical-align: text-bottom;
    padding-top: 10px;
}

div.cima a:hover{
    text-decoration: none;
}

div.baixo a:hover{
    text-decoration: none;
}